

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #214001;
  color: #F29472;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

p {
 
  margin-bottom: 15px;
  color: #F29472;
  
}


h1 {
  font-family: sans-serif; 
  margin: 20px;
  
}

button {
  padding: 50px;
  border-radius: 19px;
  font-size: 20px;
}

#startBtn, #stopBtn {
  background: #2E5902;
  color: white;
  padding: 15px;
}


#button1 {
  background: lightgreen;
}

#button1:active, #button1.lit{
  background: green;
  background-image: url("https://cdn.glitch.global/27d45646-6ef9-4144-b0eb-b147ee7484d8/green-button.png?v=1646752898206");
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;

}

#button2 {
  background: lightblue;
}

#button2:active, #button2.lit {
  background: blue;
  background-image: url("https://cdn.glitch.global/27d45646-6ef9-4144-b0eb-b147ee7484d8/blue-button.png?v=1646762552067https://cdn.glitch.global/27d45646-6ef9-4144-b0eb-b147ee7484d8/blue-button.png?v=1646762836693");
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

#button3 {
  background: pink;
}

#button3:active, #button3.lit {
  background: red;
  background-image: url("https://cdn.glitch.global/27d45646-6ef9-4144-b0eb-b147ee7484d8/red-button.png?v=1646762854434");
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

#button4 {
  background: lightyellow;
}

#button4:active, #button4.lit{
  background: yellow;
  background-image: url("https://cdn.glitch.global/27d45646-6ef9-4144-b0eb-b147ee7484d8/yellow-button.png?v=1646763200828");
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  
}
#button5{
  background: honeydew;
}
#button5:active, #button5.lit{
  background: burlywood;
  background-image: url("https://cdn.glitch.global/27d45646-6ef9-4144-b0eb-b147ee7484d8/brown-button.png?v=1646762832191");
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

#button6{
  background: floralwhite;
}

#button6:active, #button6.lit{
  background: dimgrey;
  background-image: url("https://cdn.glitch.global/27d45646-6ef9-4144-b0eb-b147ee7484d8/grey-button.png?v=1646754307619");
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

.column {
  display: flex;
  flex: 50%;
  padding: 15px;
}

.gameButtonArea {
  display: flex;
}

#gameButtonArea > button,
{
 
  width: 200px;
  height: 150px;
  margin: 2px;
}

section {
  
 display:flex; 
  justify-content: start;
  
}

.column1, .column2 {
  display: flex;
  justify-content: space-evenly;
}

.hidden {
  display:none;
}


