

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif; 
}


/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
  margin: 2rem auto 0;
}

/* Button - Add it from the README instructions */
button {
  padding: 20px;
  border-radius: 30px;
}


#button1 {
  background: lightgreen;
}

#button1:active, #button1.lit{
  background: green;

}

#button2 {
  background: lightblue;
}

#button2:active, #button2.lit {
  background: blue;
}

#button3 {
  background: pink;
}

#button3:active, #button3.lit {
  background: red;
}

#button4 {
  background: lightyellow;
}

#button4:active, #button4.lit{
  background: yellow;
  
}
#button5{
  background: honeydew;
}
#button5:active, #button5.lit{
  background: burlywood;
}

#button6{
  background: floralwhite;
}

#button6:active, #button6.lit{
  background: dimgrey;
}

#gameButtonArea > button {
  width: 200px;
  height: 150px;
  margin: 2px;
}
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

.hidden {
  display:none;
}
/* Subheading */
h2 {
  color: #2800FF;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}
